body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/img/grey.jpg");
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed";
}

h2 {
  color: #3e4441;
}

header h2 {
  color: #f5faf8;
}

footer {
  background-image: linear-gradient(#323b35, white);
  padding: 20px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.enlarge {
  width: 75%;
  height: 75%;
  background: red;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 2s;
  transition-property: width, height;
  transition-duration: 2s;
}

.enlarge:hover {
  width: 115%;
  height: 115%;
}

h5 {
  color: rgb(191, 202, 193);
}

.navbar {
  background-color: #111111;
}

.welcome {
  width: 90%;
  background-color: rgb(247, 235, 247);
}

.welcome hr {
  width: 90%;
}
