body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/img/grey.jpg");
  background-size: cover;
  height: 100%;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed";
}

h2 {
  color: #3e4441;
}

header h2 {
  color: #f5faf8;
}

footer {
  background-image: linear-gradient(#323b35, white);
  padding: 20px 0; 
  border: none;
}


.enlarge {
  width: 75%;
  height: 75%;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 2s;
  transition-property: width, height;
  transition-duration: 2s;
}

.enlarge:hover {
  width: 115%;
  height: 115%;
  justify-content: space-evenly;
}

h5 {
  color: rgb(191, 202, 193);
}

.navbar {
  background-color: #111111;
}

.nav-container {
  display: flex;
}

.navbar-brand {
  font-size: 30px;
}

#portfolioNavbar {
  justify-content: right;
}

ul {
  list-style-type: square;
}

#list {
  display: inline-block;
  vertical-align: center;
}

#list2 {
  display: inline-block;
  vertical-align: center;
}

.welcome {
  width: 90%;
  background-image: linear-gradient(to right, #bdbaba, #dde4e0, #cacecd);
  border-radius: 25px;
}

.welcome hr {
  width: 90%;
}

[class*="col-"] {
  padding: 1rem;
}

.card-header {
  width: 100%;
  height: auto;
  background-color: #5e5c5c;
  color: #dde4e0;
  object-fit: cover;
  border-style: solid;
  border-color: #111111;
}

.card {
  height: 100%;
}

.images {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #c2bfbf;
  color: #050505;
  border-style: solid;
  border-color: #111111;
}

.card-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.carousel-img {
  width: auto;
  height: 800px;
  max-height: 800px;
  object-fit: contain;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.carousel-inner {
  position: relative;
}

p {
  padding: 2.5%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .welcome .display-4 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .welcome {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .welcome .display-4 {
    font-size: 2.5rem;
  }
}
